
* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue;
    padding: .5rem;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 20px;
}

p {
    padding: 5px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 120px;
    color: steelblue;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    text-align: center;
    border-top: 1px dotted black;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: steelblue;
    color: white;
}

.grid {
    display: grid;
    align-items: center;
}






